* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.container {
  text-align: center;

}
.btn{
  padding: 10px;
  margin: 20px;
  border-radius: 10px 30px;
  box-shadow: 0px 0px 10px;
  background-color: rgb(35, 78, 63);
  color: whitesmoke;

}